<%= render 'layouts/navigation' %>

<div class ="container text-center">

<p><%= current_user.username %>'s tweets</p>

<div><%= render 'twits/twit_create' %></div>

<div><%= render 'twits/twits_show' %></div>

</div>
